In [14]:
2+2
print('hello')

hello

In [16]:
import pandas as pd
sc =pd.read_csv("C:\Study Material\INFO -ADS\R\workdirectory\ClassData Sheet.csv")
print(sc)

    No   GPA  Years of work experience  Latest salary (per year)  \
0    1  3.50                       2.5                     45000
1    3  3.80                       1.0                     65000
2    4  3.80                       2.0                     85000
3    5  3.41                       1.5                     10000
4    6  3.33                       5.0                     70000
5    7  3.52                       2.5                     27000
6    8  3.50                       2.0                     40000
7    9  3.50                       5.0                     75000
8   10  3.60                       2.5                     65000
9   11  3.20                       4.0                     62000
10  12  3.50                       2.0                     60000
11  13  3.67                       1.8                     60000
12  14  3.50                       2.0                     60000
13  15  3.47                       2.5                     70000
14  16  3.06                       1.3                     40000
15  17  3.27                       2.0                     60000
16  18  3.53                       4.0                     50000
17  19  4.00                       4.0                     50000
18  20  3.40                       1.0                     30000
19  21  3.54                       1.0                     40000
20  22  3.50                       2.0                     75000
21  23  3.50                       4.0                     50000
22  24  3.40                       3.0                     50000
23  26  3.30                       4.0                     65000
24  27  3.90                       6.0                     90000
25  28  3.17                       1.0                     50000
26  29  3.48                       3.5                     60000
27  30  3.93                       4.0                     43000
28  31  3.43                       4.0                     60000
29  32  3.33                       5.0                      5000
30  33  3.60                       1.5                     60000
31  34  3.80                       3.0                     65000
32  35  3.50                       3.0                     65000
33  36  3.39                       2.0                     60000

    Highest GPA   Lowest GPA Coops/Internships (YN)  \
0           3.50        3.50                      N
1           3.60        3.00                      Y
2           4.00        3.60                      Y
3           3.41        3.33                      N
4           3.67        3.00                      Y
5           3.58        3.52                      N
6           3.70        3.30                      N
7           3.53        3.30                      Y
8           3.90        3.10                      Y
9           3.80        3.00                      N
10          3.50        3.50                      N
11          4.00        3.00                      N
12          3.70        3.30                      y
13          3.64        3.37                      Y
14          3.64        2.67                      Y
15          4.00        3.00                      Y
16          4.00        3.30                      N
17          4.00        4.00                      Y
18          3.60        3.10                      N
19          4.00        3.42                      Y
20          4.00        3.00                      Y
21          3.80        3.20                      Y
22          3.80        3.20                      Y
23          4.00        3.65                      Y
24          4.00        3.80                      Y
25          3.30        3.00                      N
26          4.00        3.33                      Y
27          4.00        3.28                      Y
28          3.50        3.30                      Y
29          3.66        3.00                      Y
30          3.70        3.40                      Y
31          3.80        3.50                      Y
32          4.00        3.60                      Y
33          3.80        3.20                      Y

    Number of contacts on Linkedin  Expected Salary after graduation
0                              250                             90000
1                              400                            100000
2                              500                             90000
3                              365                            100000
4                              400                            100000
5                              230                             85000
6                              250                             90000
7                              260                            100000
8                              250                            110000
9                              525                            105000
10                             400                             85000
11                             920                            140000
12                             300                             90000
13                             310                             95000
14                             550                            120000
15                             350                            100000
16                             600                             88000
17                             500                            130000
18                             500                             80000
19                             650                             95000
20                             515                             80000
21                             350                            110000
22                             301                             90000
23                             700                            100000
24                             809                            120000
25                             258                            100000
26                             350                            100000
27                             900                            100000
28                             220                            110000
29                             183                            100000
30                             340                            100000
31                             800                             80000
32                             400                             80000
33                             500                             90000

In [32]:

sc1=sc.set_index("GPA")
print(sc1)

      No  Years of work experience  Latest salary (per year)  Highest GPA   \
GPA
3.50   1                       2.5                     45000          3.50
3.80   3                       1.0                     65000          3.60
3.80   4                       2.0                     85000          4.00
3.41   5                       1.5                     10000          3.41
3.33   6                       5.0                     70000          3.67
3.52   7                       2.5                     27000          3.58
3.50   8                       2.0                     40000          3.70
3.50   9                       5.0                     75000          3.53
3.60  10                       2.5                     65000          3.90
3.20  11                       4.0                     62000          3.80
3.50  12                       2.0                     60000          3.50
3.67  13                       1.8                     60000          4.00
3.50  14                       2.0                     60000          3.70
3.47  15                       2.5                     70000          3.64
3.06  16                       1.3                     40000          3.64
3.27  17                       2.0                     60000          4.00
3.53  18                       4.0                     50000          4.00
4.00  19                       4.0                     50000          4.00
3.40  20                       1.0                     30000          3.60
3.54  21                       1.0                     40000          4.00
3.50  22                       2.0                     75000          4.00
3.50  23                       4.0                     50000          3.80
3.40  24                       3.0                     50000          3.80
3.30  26                       4.0                     65000          4.00
3.90  27                       6.0                     90000          4.00
3.17  28                       1.0                     50000          3.30
3.48  29                       3.5                     60000          4.00
3.93  30                       4.0                     43000          4.00
3.43  31                       4.0                     60000          3.50
3.33  32                       5.0                      5000          3.66
3.60  33                       1.5                     60000          3.70
3.80  34                       3.0                     65000          3.80
3.50  35                       3.0                     65000          4.00
3.39  36                       2.0                     60000          3.80

      Lowest GPA Coops/Internships (YN)  Number of contacts on Linkedin  \
GPA
3.50        3.50                      N                             250
3.80        3.00                      Y                             400
3.80        3.60                      Y                             500
3.41        3.33                      N                             365
3.33        3.00                      Y                             400
3.52        3.52                      N                             230
3.50        3.30                      N                             250
3.50        3.30                      Y                             260
3.60        3.10                      Y                             250
3.20        3.00                      N                             525
3.50        3.50                      N                             400
3.67        3.00                      N                             920
3.50        3.30                      y                             300
3.47        3.37                      Y                             310
3.06        2.67                      Y                             550
3.27        3.00                      Y                             350
3.53        3.30                      N                             600
4.00        4.00                      Y                             500
3.40        3.10                      N                             500
3.54        3.42                      Y                             650
3.50        3.00                      Y                             515
3.50        3.20                      Y                             350
3.40        3.20                      Y                             301
3.30        3.65                      Y                             700
3.90        3.80                      Y                             809
3.17        3.00                      N                             258
3.48        3.33                      Y                             350
3.93        3.28                      Y                             900
3.43        3.30                      Y                             220
3.33        3.00                      Y                             183
3.60        3.40                      Y                             340
3.80        3.50                      Y                             800
3.50        3.60                      Y                             400
3.39        3.20                      Y                             500

      Expected Salary after graduation
GPA
3.50                             90000
3.80                            100000
3.80                             90000
3.41                            100000
3.33                            100000
3.52                             85000
3.50                             90000
3.50                            100000
3.60                            110000
3.20                            105000
3.50                             85000
3.67                            140000
3.50                             90000
3.47                             95000
3.06                            120000
3.27                            100000
3.53                             88000
4.00                            130000
3.40                             80000
3.54                             95000
3.50                             80000
3.50                            110000
3.40                             90000
3.30                            100000
3.90                            120000
3.17                            100000
3.48                            100000
3.93                            100000
3.43                            110000
3.33                            100000
3.60                            100000
3.80                             80000
3.50                             80000
3.39                             90000

In [37]:
sc.dtypes

No                                    int64
GPA                                 float64
Years of work experience            float64
Latest salary (per year)              int64
Highest GPA                         float64
Lowest GPA                          float64
Coops/Internships (YN)               object
Number of contacts on Linkedin        int64
Expected Salary after graduation      int64
dtype: object

In [38]:
sc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
No                                  34 non-null int64
GPA                                 34 non-null float64
Years of work experience            34 non-null float64
Latest salary (per year)            34 non-null int64
Highest GPA                         34 non-null float64
Lowest GPA                          34 non-null float64
Coops/Internships (YN)              34 non-null object
Number of contacts on Linkedin      34 non-null int64
Expected Salary after graduation    34 non-null int64
dtypes: float64(4), int64(4), object(1)
memory usage: 2.5+ KB

In [34]:
sc.describe()

,No,GPA,Years of work experience,Latest salary (per year),Highest GPA,Lowest GPA,Number of contacts on Linkedin,Expected Salary after graduation
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,18.794118,3.509706,2.811765,54764.705882,3.768529,3.287353,445.176471,98617.647059
std,10.397492,0.213421,1.346998,18340.316285,0.209431,0.273244,199.849863,13930.595728
min,1.000000,3.060000,1.000000,5000.000000,3.300000,2.670000,183.000000,80000.000000
25%,10.250000,3.400000,2.000000,46250.000000,3.610000,3.025000,300.250000,90000.000000
50%,18.500000,3.500000,2.500000,60000.000000,3.800000,3.300000,400.000000,100000.000000
75%,27.750000,3.585000,4.000000,65000.000000,4.000000,3.480000,522.500000,100000.000000
max,36.000000,4.000000,6.000000,90000.000000,4.000000,4.000000,920.000000,140000.000000

In [40]:
sc1=sc.set_index("No")

In [44]:
sc2=sc1.loc[1:36,"GPA":"GPA"]

In [45]:
print(sc2)

     GPA
No
1   3.50
3   3.80
4   3.80
5   3.41
6   3.33
7   3.52
8   3.50
9   3.50
10  3.60
11  3.20
12  3.50
13  3.67
14  3.50
15  3.47
16  3.06
17  3.27
18  3.53
19  4.00
20  3.40
21  3.54
22  3.50
23  3.50
24  3.40
26  3.30
27  3.90
28  3.17
29  3.48
30  3.93
31  3.43
32  3.33
33  3.60
34  3.80
35  3.50
36  3.39

In [47]:
print(min(sc2.GPA))

3.06

In [48]:
print(max(sc2.GPA))

4.0

In [49]:
import numpy as ny
import statistics as st
import scipy as sc

In [50]:
print(ny.mean(sc2.GPA))

3.5097058823529426

In [51]:
print(ny.median(sc2.GPA))

3.5

In [52]:
sc3=sc1.loc[1:36,"Latest salary (per year)":"Latest salary (per year)"]

In [57]:
print(sc3)

    Latest salary (per year)
No
1                      45000
3                      65000
4                      85000
5                      10000
6                      70000
7                      27000
8                      40000
9                      75000
10                     65000
11                     62000
12                     60000
13                     60000
14                     60000
15                     70000
16                     40000
17                     60000
18                     50000
19                     50000
20                     30000
21                     40000
22                     75000
23                     50000
24                     50000
26                     65000
27                     90000
28                     50000
29                     60000
30                     43000
31                     60000
32                      5000
33                     60000
34                     65000
35                     65000
36                     60000

In [59]:
sc3.columns =['salary']

In [60]:
print(ny.mode(sc3.salary))

AttributeError: module 'numpy' has no attribute 'mode'

In [61]:
from scipy import stats

In [62]:
print(stats.mode(sc3.salary))

ModeResult(mode=array([60000], dtype=int64), count=array([8]))

In [82]:
sc4=sc1.loc[1:36,"Expected Salary after graduation":"Expected Salary after graduation"]

In [83]:
print(sc4)

    Expected Salary after graduation
No
1                              90000
3                             100000
4                              90000
5                             100000
6                             100000
7                              85000
8                              90000
9                             100000
10                            110000
11                            105000
12                             85000
13                            140000
14                             90000
15                             95000
16                            120000
17                            100000
18                             88000
19                            130000
20                             80000
21                             95000
22                             80000
23                            110000
24                             90000
26                            100000
27                            120000
28                            100000
29                            100000
30                            100000
31                            110000
32                            100000
33                            100000
34                             80000
35                             80000
36                             90000

In [86]:
sc4.columns =['expec']

In [87]:
m=sc4.expec

In [90]:
q75, q25 = np.percentile(m, [75 ,25])
iqr = q75 - q25

In [91]:
print(iqr)

10000.0

In [95]:
sc5=sc1.loc[1:36,"Number of contacts on Linkedin":"Number of contacts on Linkedin"]

In [96]:
sc5.columns=['linkedincontacts']

In [130]:
Counter(sc5.linkedincontacts>=500)

Counter({False: 20, True: 14})

In [104]:
sc6=sc1.loc[1:36,"Coops/Internships (YN)":"Coops/Internships (YN)"]

In [105]:
sc6.columns =['coop']

In [122]:
a=sc6.coop.count()

In [112]:
from collections import Counter

In [116]:
b=Counter(sc6.coop)
print(b)

Counter({'Y': 23, 'N': 10, 'y': 1})

In [118]:
k=b.most_common()

In [119]:
k

[('Y', 23), ('N', 10), ('y', 1)]

In [126]:
percent =(k[0][1])*100/a

In [127]:
print(percent)

67.6470588235