In [7]:
setwd("C:/Study Material/INFO -ADS/R/workdirectory")

In [8]:
mydata=read.table("ClassData Sheet.csv",sep=",",header=TRUE,row.names=1)

In [9]:
mydata

   GPA  Years.of.work.experience Latest.salary..per.year. Highest.GPA
1  3.50 2.5                      45000                    3.50
3  3.80 1.0                      65000                    3.60
4  3.80 2.0                      85000                    4.00
5  3.41 1.5                      10000                    3.41
6  3.33 5.0                      70000                    3.67
7  3.52 2.5                      27000                    3.58
8  3.50 2.0                      40000                    3.70
9  3.50 5.0                      75000                    3.53
10 3.60 2.5                      65000                    3.90
11 3.20 4.0                      62000                    3.80
12 3.50 2.0                      60000                    3.50
13 3.67 1.8                      60000                    4.00
14 3.50 2.0                      60000                    3.70
15 3.47 2.5                      70000                    3.64
16 3.06 1.3                      40000                    3.64
17 3.27 2.0                      60000                    4.00
18 3.53 4.0                      50000                    4.00
19 4.00 4.0                      50000                    4.00
20 3.40 1.0                      30000                    3.60
21 3.54 1.0                      40000                    4.00
22 3.50 2.0                      75000                    4.00
23 3.50 4.0                      50000                    3.80
24 3.40 3.0                      50000                    3.80
26 3.30 4.0                      65000                    4.00
27 3.90 6.0                      90000                    4.00
28 3.17 1.0                      50000                    3.30
29 3.48 3.5                      60000                    4.00
30 3.93 4.0                      43000                    4.00
31 3.43 4.0                      60000                    3.50
32 3.33 5.0                       5000                    3.66
33 3.60 1.5                      60000                    3.70
34 3.80 3.0                      65000                    3.80
35 3.50 3.0                      65000                    4.00
36 3.39 2.0                      60000                    3.80
   Lowest.GPA Coops.Internships..YN. Number.of.contacts.on.Linkedin
1  3.50       N                      250
3  3.00       Y                      400
4  3.60       Y                      500
5  3.33       N                      365
6  3.00       Y                      400
7  3.52       N                      230
8  3.30       N                      250
9  3.30       Y                      260
10 3.10       Y                      250
11 3.00       N                      525
12 3.50       N                      400
13 3.00       N                      920
14 3.30       y                      300
15 3.37       Y                      310
16 2.67       Y                      550
17 3.00       Y                      350
18 3.30       N                      600
19 4.00       Y                      500
20 3.10       N                      500
21 3.42       Y                      650
22 3.00       Y                      515
23 3.20       Y                      350
24 3.20       Y                      301
26 3.65       Y                      700
27 3.80       Y                      809
28 3.00       N                      258
29 3.33       Y                      350
30 3.28       Y                      900
31 3.30       Y                      220
32 3.00       Y                      183
33 3.40       Y                      340
34 3.50       Y                      800
35 3.60       Y                      400
36 3.20       Y                      500
   Expected.Salary.after.graduation
1   90000
3  100000
4   90000
5  100000
6  100000
7   85000
8   90000
9  100000
10 110000
11 105000
12  85000
13 140000
14  90000
15  95000
16 120000
17 100000
18  88000
19 130000
20  80000
21  95000
22  80000
23 110000
24  90000
26 100000
27 120000
28 100000
29 100000
30 100000
31 110000
32 100000
33 100000
34  80000
35  80000
36  90000

In [10]:
min_gpa=min(mydata$GPA)
max_gpa=max(mydata$GPA)
mean_gpa=mean(mydata$GPA)
med_gpa=median(mydata$GPA)
print("Min of GPA:",min_gpa)
print("Max of GPA:",max_gpa)
print("Average or mean of GPA:",mean_gpa)
print("Median of GPA:",med_gpa)

[1] "Min of GPA:"
[1] "Max of GPA:"
[1] "Average or mean of GPA:"
[1] "Median of GPA:"

In [11]:
min_gpa

[1] 3.06

In [12]:
max_gpa

[1] 4

In [13]:
mean_gpa

[1] 3.509706

In [14]:
med_gpa

[1] 3.5

In [22]:
getmode <- function(x){
uniq <- unique(x)
uniq[which.max(tabulate(match(x, uniq)))]
}
x=mydata$Latest.salary..per.year.
result <- getmode(x)
print(result)

[1] 60000

In [23]:
coop<-mydata$Coops.Internships..YN.

In [43]:
m<-table(coop)["Y"]
n<-table(coop)["N"]
print(m)
print(n)
c<-(m)*100/(m+n)
c

 Y
23
 N
10

       Y
69.69697

In [54]:
con<-mydata$Number.of.contacts.on.Linkedin
d<-con>=500
table(d)

d
FALSE  TRUE
   20    14

In [55]:
salexp <- mydata$Expected.Salary.after.graduation
IQR(salexp)

[1] 10000