In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

data_directory = os.path.join('../', 'data')

loan_data_path = os.path.join(data_directory, 'Accepted_LoanData.csv')
loan = pd.read_csv(loan_data_path, low_memory=False, encoding='latin-1')

In [2]:
pd.set_option('display.max_columns', len(loan.columns))
loan.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,timestamp
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,NaN,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.0,0.00,Jan-2015,171.62,NaN,Mar-2017,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1491524150
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,NaN,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4%,4.0,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.0,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1491524150
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,NaN,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5%,10.0,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.0,0.0,0.00,Jun-2014,649.91,NaN,Mar-2017,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,1491524150

In [3]:
 pd.reset_option('display.max_columns')

In [4]:
# see all loan table column variables datatypes
loan.dtypes

id                                 object
member_id                         float64
loan_amnt                         float64
funded_amnt                       float64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                               float64
desc                               object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                       float64
earliest_cr_line                   object
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
                                   ...
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
timestamp                           int64
dtype: object

In [5]:
# See shape , all coulmns and statistic values for each columns
print(loan.shape)
print(loan.columns)
print(loan.describe())

(1321864, 112)
Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'timestamp'],
      dtype='object', length=112)
       member_id     loan_amnt   funded_amnt  funded_amnt_inv   installment  \
count        0.0  1.321847e+06  1.321847e+06     1.321847e+06  1.321847e+06
mean         NaN  1.474822e+04  1.473922e+04     1.471071e+04  4.391395e+02
std          NaN  8.622143e+03  8.618488e+03     8.625729e+03  2.532311e+02
min          NaN  5.000000e+02  5.000000e+02     0.000000e+00  1.401000e+01
25%          NaN  8.000000e+03  8.000000e+03     8.000000e+03  2.559000e+02
50%          NaN  1.290000e+04  1.285000e+04     1.280000e+04  3.802500e+02
75%          NaN  2.000000e+04  2.000000e+04     2.000000e+04  5.783100e+02
max          NaN  4.000000e+04  4.000000e+04     4.000000e+04  1.584900e+03

         annual_inc  url           dti   delinq_2yrs  inq_last_6mths  \
count  1.321843e+06  0.0  1.321847e+06  1.321818e+06    1.321817e+06
mean   7.649594e+04  NaN  1.887239e+01  3.295938e-01    6.508745e-01
std    6.911192e+04  NaN  7.098519e+01  8.920428e-01    9.576629e-01
min    0.000000e+00  NaN -1.000000e+00  0.000000e+00    0.000000e+00
25%    4.600000e+04  NaN  1.204000e+01  0.000000e+00    0.000000e+00
50%    6.500000e+04  NaN  1.783000e+01  0.000000e+00    0.000000e+00
75%    9.000000e+04  NaN  2.424000e+01  0.000000e+00    1.000000e+00
max    9.573072e+06  NaN  9.999000e+03  3.900000e+01    3.300000e+01

           ...       num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  \
count      ...             1.251571e+06    1.251418e+06      1.258823e+06
mean       ...             2.109639e+00    9.406750e+01      4.745467e+01
std        ...             1.804914e+00    8.790950e+00      3.583138e+01
min        ...             0.000000e+00    0.000000e+00      0.000000e+00
25%        ...             1.000000e+00    9.110000e+01      1.670000e+01
50%        ...             2.000000e+00    9.760000e+01      5.000000e+01
75%        ...             3.000000e+00    1.000000e+02      7.500000e+01
max        ...             3.200000e+01    1.000000e+02      1.000000e+02

       pub_rec_bankruptcies     tax_liens  tot_hi_cred_lim  total_bal_ex_mort  \
count          1.320482e+06  1.321742e+06     1.251571e+06       1.271817e+06
mean           1.267870e-01  5.661468e-02     1.736727e+05       5.029927e+04
std            3.726020e-01  4.183959e-01     1.768078e+05       4.779373e+04
min            0.000000e+00  0.000000e+00     0.000000e+00       0.000000e+00
25%            0.000000e+00  0.000000e+00     4.978900e+04       2.143000e+04
50%            0.000000e+00  0.000000e+00     1.123890e+05       3.788800e+04
75%            0.000000e+00  0.000000e+00     2.508545e+05       6.325100e+04
max            1.200000e+01  8.500000e+01     9.999999e+06       2.921551e+06

       total_bc_limit  total_il_high_credit_limit     timestamp
count    1.271817e+06                1.251571e+06  1.321864e+06
mean     2.148790e+04                4.221178e+04  1.491524e+09
std      2.130429e+04                4.330529e+04  3.806678e+01
min      0.000000e+00                0.000000e+00  1.491524e+09
25%      7.800000e+03                1.482500e+04  1.491524e+09
50%      1.500000e+04                3.172800e+04  1.491524e+09
75%      2.800000e+04                5.671200e+04  1.491524e+09
max      1.105500e+06                2.101913e+06  1.491524e+09

[8 rows x 87 columns]

**Handle missing values for categorical variables**


We will fill verification_status_joint using the value in verification_status as these are all individual applications and these values are not filled out.

In [6]:
loan['verification_status_joint'].fillna(loan['verification_status'], inplace=True)

We will clean the emp_length column to use it in data exploration

In [7]:
loan['emp_length'] = loan.emp_length.str.replace('+','')
loan['emp_length'] = loan.emp_length.str.replace('<','')
loan['emp_length'] = loan.emp_length.str.replace('years','')
loan['emp_length'] = loan.emp_length.str.replace('year','')
loan['emp_length'] = loan.emp_length.str.replace('n/a','0')

In [8]:
loan.emp_length.unique()

array(['10 ', ' 1 ', '1 ', '3 ', '8 ', '9 ', '4 ', '5 ', '6 ', '2 ', '7 ',
       '0', nan], dtype=object)

We will map it to emp_length to float

In [9]:
loan['emp_length'] = loan.emp_length.map(float)

Convert int_rate datatype to float as we are using it for plotting graphs in data exploration

In [10]:
# Only convert int_rate if it isn't already numeric
if loan.int_rate.dtype == 'float64':
    print("int_rate is already numeric, no need to convert it")
    
elif loan.int_rate.dtype == 'object':
    loan['int_rate'] = loan['int_rate'].map(lambda x: str(x).lstrip(' ').rstrip('% '))
    print(loan['int_rate'][0:5])

    loan['int_rate'] = loan['int_rate'].astype('float64')

0    10.65
1    15.27
2    15.96
3    13.49
4    12.69
Name: int_rate, dtype: object

For the remaining categorical variables we are just going to replace NaN with 'Unknown'.

In [11]:
strColumns = loan.select_dtypes(include=['object']).columns.values
loan[strColumns] = loan[strColumns].fillna('Unknown')

In [12]:
# see if any null value is present or not for object or not a number data type 
loan.select_dtypes(exclude=[np.number]).isnull().sum()

id                           0
term                         0
grade                        0
sub_grade                    0
emp_title                    0
home_ownership               0
verification_status          0
issue_d                      0
loan_status                  0
pymnt_plan                   0
desc                         0
purpose                      0
title                        0
zip_code                     0
addr_state                   0
earliest_cr_line             0
revol_util                   0
initial_list_status          0
last_pymnt_d                 0
next_pymnt_d                 0
last_credit_pull_d           0
application_type             0
verification_status_joint    0
dtype: int64

** Handling missing values numeric variables **

In [13]:
#check number of missing values for each numeric column variable
loan.select_dtypes(include=[np.number]).isnull().sum()

member_id                         1321864
loan_amnt                              17
funded_amnt                            17
funded_amnt_inv                        17
int_rate                               17
installment                            17
emp_length                             17
annual_inc                             21
url                               1321864
dti                                    17
delinq_2yrs                            46
inq_last_6mths                         47
mths_since_last_delinq             659187
mths_since_last_record            1101887
open_acc                               46
pub_rec                                46
revol_bal                              17
total_acc                              46
out_prncp                              17
out_prncp_inv                          17
total_pymnt                            17
total_pymnt_inv                        17
total_rec_prncp                        17
total_rec_int                          17
total_rec_late_fee                     17
recoveries                             17
collection_recovery_fee                17
last_pymnt_amnt                        17
collections_12_mths_ex_med            162
mths_since_last_major_derog        974533
                                   ...
mo_sin_rcnt_rev_tl_op               70294
mo_sin_rcnt_tl                      70293
mort_acc                            50047
mths_since_recent_bc                61798
mths_since_recent_bc_dlq          1003099
mths_since_recent_inq              182194
mths_since_recent_revol_delinq     873335
num_accts_ever_120_pd               70293
num_actv_bc_tl                      70293
num_actv_rev_tl                     70293
num_bc_sats                         58607
num_bc_tl                           70293
num_il_tl                           70293
num_op_rev_tl                       70293
num_rev_accts                       70294
num_rev_tl_bal_gt_0                 70293
num_sats                            58607
num_tl_120dpd_2m                   119016
num_tl_30dpd                        70293
num_tl_90g_dpd_24m                  70293
num_tl_op_past_12m                  70293
pct_tl_nvr_dlq                      70446
percent_bc_gt_75                    63041
pub_rec_bankruptcies                 1382
tax_liens                             122
tot_hi_cred_lim                     70293
total_bal_ex_mort                   50047
total_bc_limit                      50047
total_il_high_credit_limit          70293
timestamp                               0
dtype: int64

The first columns that we are going to update are annual_inc_joint, dti_joint. For individual accounts these are blank but we want to use the joint values so we will populate these with the individual values for individual accounts.

In [14]:
loan[loan['application_type'] != 'INDIVIDUAL']['annual_inc_joint'].isnull().sum()

2911

In [15]:
loan['annual_inc_joint'].fillna(loan['annual_inc'], inplace=True)
loan['dti_joint'].fillna(loan['dti'], inplace=True)

For the remaining missing values we are going to fix it by replacing any NaN values with the mean values

In [16]:
strColumns = loan.select_dtypes(include=[np.number]).columns.values
loan[strColumns] = loan[strColumns].fillna(loan[strColumns].mean())

In [17]:
loan.select_dtypes(include=[np.number]).isnull().sum()

member_id                         1321864
loan_amnt                               0
funded_amnt                             0
funded_amnt_inv                         0
int_rate                                0
installment                             0
emp_length                              0
annual_inc                              0
url                               1321864
dti                                     0
delinq_2yrs                             0
inq_last_6mths                          0
mths_since_last_delinq                  0
mths_since_last_record                  0
open_acc                                0
pub_rec                                 0
revol_bal                               0
total_acc                               0
out_prncp                               0
out_prncp_inv                           0
total_pymnt                             0
total_pymnt_inv                         0
total_rec_prncp                         0
total_rec_int                           0
total_rec_late_fee                      0
recoveries                              0
collection_recovery_fee                 0
last_pymnt_amnt                         0
collections_12_mths_ex_med              0
mths_since_last_major_derog             0
                                   ...
mo_sin_rcnt_rev_tl_op                   0
mo_sin_rcnt_tl                          0
mort_acc                                0
mths_since_recent_bc                    0
mths_since_recent_bc_dlq                0
mths_since_recent_inq                   0
mths_since_recent_revol_delinq          0
num_accts_ever_120_pd                   0
num_actv_bc_tl                          0
num_actv_rev_tl                         0
num_bc_sats                             0
num_bc_tl                               0
num_il_tl                               0
num_op_rev_tl                           0
num_rev_accts                           0
num_rev_tl_bal_gt_0                     0
num_sats                                0
num_tl_120dpd_2m                        0
num_tl_30dpd                            0
num_tl_90g_dpd_24m                      0
num_tl_op_past_12m                      0
pct_tl_nvr_dlq                          0
percent_bc_gt_75                        0
pub_rec_bankruptcies                    0
tax_liens                               0
tot_hi_cred_lim                         0
total_bal_ex_mort                       0
total_bc_limit                          0
total_il_high_credit_limit              0
timestamp                               0
dtype: int64

In [18]:
#features below are being dropped due to their significantly high proportion of missing values or they are date values.

loan = loan.drop(['earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_24m', 'open_rv_12m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m','mths_since_last_record', 'mths_since_last_major_derog'], axis=1)

# The URL and description are non-numeric and not useful for predicting interest rates, so drop them.
loan = loan.drop(['url', 'desc'], axis=1)

In [21]:
destination_filepath = os.path.join(data_directory, "../Cleaned_AcceptedLoanData.csv")
loan.to_csv(destination_filepath)